DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stokita?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/stokita?schema=public"
PORT=3001
NODE_ENV=development
SEED_DEMO_PASSWORD="ChangeThisDemoPassword123!"
